<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZipformSimply.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ZipformSimply.ProcessSteps" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="ProductName" value="SimplyService" />
    <add key="fileWatchPath" value="C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\ftp\" />
    <add key="logTextFilePath" value="C:\Dev\Zipform\fileReaderLog.txt" />
    <add key="maxTimeForProcessedTask" value="20000" />
    <add key="DateFormat" value="dd-MMM-yyyy" />
    <add key="TimeFormat" value="hh:mm:ss:ff" />
    <!--SMTP Settings-->
    <add key="SMTPHost" value="127.0.0.1"/>
    <add key="SMTPPort" value="25"/>
    <add key="MailUsername" value=""/>
    <add key="MailPassword" value=""/>
    <add key="DefaultMailFrom" value="wilson_tucker@amnet.net.au"/>
    <add key="DebugRecipient" value="wilson_tucker@amnet.net.au"/>
  </appSettings>

  <applicationSettings>
    <ZipformSimply.Properties.Settings>
      <setting name="PEETHLProcessingService_RIService_RIService" serializeAs="String">
        <value>http://apps.peet.com.au/ripproxytestservice/RIservice.asmx</value>
      </setting>
    </ZipformSimply.Properties.Settings>
    <ZipformSimply.ProcessSteps>
      <setting name="Step1" serializeAs="String">
        <value>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data</goToDirectory>
          <deleteFiles>
            <filter>*.txt</filter>
          </deleteFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\churn</goToDirectory>
          <deleteFiles>
            <filter>*.bsp,*.dbf,*.sum,*.txt,*.ntx</filter>
          </deleteFiles>
          <copyFiles>
            <filter>*churn*.csv</filter>
            <directory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\ftp</directory>
            <overwriteFileName>MISC-Churn.txt</overwriteFileName>
          </copyFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\ftp</goToDirectory>
          <deleteFiles>
            <filter>*churn*.csv</filter>
          </deleteFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\churn</goToDirectory>
          <runBatchFile>
            <name>testXharbour.bat</name>
            <outputFileName>log\xharbourLog.txt</outputFileName>
            <parameter></parameter>
            <successCode>GEN0000I Run completed successfully</successCode>
          </runBatchFile>
          <runBatchFile>
            <name>testDoc1.bat</name>
            <outputFileName>log\doc1Log.txt</outputFileName>
            <parameter>T</parameter>
            <successCode>GEN0000I Run completed successfully</successCode>
          </runBatchFile>
        </value>
      </setting>
      <setting name="Step2" serializeAs="String">
        <value>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\standard</goToDirectory>
          <deleteFiles>
            <filter>*.bsp,*.dbf,*.sum,*.txt,*.ntx</filter>
          </deleteFiles>
          <copyFiles>
            <filter>*standard*.csv</filter>
            <directory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\ftp</directory>
            <overwriteFileName>MISC-Standard.txt</overwriteFileName>
          </copyFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\ftp</goToDirectory>
          <deleteFiles>
            <filter>*standard*.csv</filter>
          </deleteFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\standard</goToDirectory>
          <runBatchFile>
            <name>testXharbour.bat</name>
            <outputFileName>log\xharbourLog.txt</outputFileName>
            <parameter></parameter>
            <successCode>GEN0000I Run completed successfully</successCode>
          </runBatchFile>
          <runBatchFile>
            <name>testDoc1.bat</name>
            <outputFileName>log\doc1Log.txt</outputFileName>
            <parameter>T</parameter>
            <successCode>GEN0000I Run completed successfully</successCode>
          </runBatchFile>
        </value>
      </setting>
      <setting name="Step3" serializeAs="String">
        <value>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\</goToDirectory>
          <copyFiles>
            <filter>11CHU_UD.txt</filter>
            <directory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\churn</directory>
            <overwriteFileName>filea.txt</overwriteFileName>
          </copyFiles>
          <copyFiles>
            <filter>11STA_UD.txt</filter> 
            <directory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\standard</directory> 
            <overwriteFileName>fileb.txt</overwriteFileName> 
          </copyFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\zhold\</goToDirectory>
          <copyFiles>
            <filter>File*.txt</filter>
            <directory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data</directory>
            <overwriteFileName>11111_UD.txt</overwriteFileName>
            <mergeFrom>header.txt</mergeFrom> 
          </copyFiles>
          <deleteFiles>
            <filter>file*.txt</filter>
          </deleteFiles>
          <goToDirectory>C:\Dev\Zipform\D\Prod\Simply_Energy\MISCLetter\data\</goToDirectory>
          <runBatchFile>
            <name>xHBadRecs.bat</name>
            <outputFileName>churn\log\doc1Log.txt</outputFileName>
            <successCode>GEN0000I Run completed successfully</successCode>
          </runBatchFile>
        </value>
      </setting>
      <setting name="Step4" serializeAs="String">
        <value>
          <goToDirectory>C:\Dev\Zipform\T\Prod\Simply_Energy\MISCLetter\spool\</goToDirectory>
          <deleteFiles>
            <filter>*.pdf,*.pc,*.txt,*.jrn,*.zip</filter>
          </deleteFiles>
          <goToDirectory>C:\Dev\Zipform\T\Prod\Simply_Energy\MISCLetter\pdf\</goToDirectory>
          <deleteFiles>
            <filter>*.csv,*.pdf</filter>
          </deleteFiles>
          <goToDirectory>C:\Dev\Zipform\T\Prod\Simply_Energy\MISCLetter\bin\</goToDirectory>
          <deleteFiles>
            <filter>log.txt,MISCError*.txt,D1total.txt,pages.txt</filter>
          </deleteFiles>
          <copyFiles>
            <filter>blankpages.txt</filter>
            <directory>C:\Dev\Zipform\T\Prod\Simply_Energy\MISCLetter\bin</directory>
            <overwriteFileName>pages.txt</overwriteFileName>
          </copyFiles>
          <writeToLog>SE-MISC Letter Processing Job Started: %date% %time%</writeToLog>
        </value>
      </setting>
      <setting name="Step4" serializeAs="String">
        <value>
          <copyFiles>
            <filter>blankpages.txt</filter>
            <directory>C:\Dev\Zipform\T\Prod\Simply_Energy\MISCLetter\bin</directory>
            <overwriteFileName>pages.txt</overwriteFileName>
          </copyFiles>
        </value>
      </setting>
    </ZipformSimply.ProcessSteps>
  </applicationSettings>

</configuration>